<section class="accordion" [ngClass]="{ 'active': isActive }">
    <div class="accordion__header">
        <nb-select placeholder="Download as" size="medium" class="select-green">
            <nb-option value="pdf">PDF</nb-option>
            <nb-option value="excel">EXCEL</nb-option>
        </nb-select>

        <button type="button" (click)="isActive = !isActive" class="btn accordion__header-btn"
            [class]="isActive ? 'btn-green' : 'btn-outline-green'">
            <nb-icon icon="funnel-outline" pack="eva"></nb-icon>
            Filter
        </button>
    </div>

    <div class="accordion__body" [ngClass]="{ 'active': isActive }">
        <div class="row">
            <div *ngFor="let filterItem of dataFilters.filterItems; let filterItemIndex = index"
                class="col-12 col-md-4 mb-3">
                <div *ngIf="filterItem.type === 'CHECK_BOX'" style="padding: 10px 10px 10px 0px;"
                    class="w-100 border-dashed d-flex justify-content-between align-items-center">
                    <p class="py-0 my-0 text text-normal text-muted text-bold px-3">
                        {{filterItem.title ?? filterItem.searchParams | ngxRemoveUnderscore | ngxCapitalize}}
                    </p>

                    <nb-checkbox status="basic" *ngFor="let item of filterItem.items; let i= index;" [(ngModel)]="checkBoxState[i]"
                        (checkedChange)="onCheckboxChecked($event, filterItem.searchParams.toLowerCase(), item.value ?? item)">
                        {{ item.title ?? item | ngxRemoveUnderscore | ngxCapitalize }}
                    </nb-checkbox>
                </div>
                <ngx-item-selector #selector *ngIf="filterItem.type === 'SELECT'" 
                    [itemShowField]="filterItem?.searchOptions?.queryParam ?? ''"
                    [searchable]="filterItem?.searchOptions != undefined"
                    [placeholder]="filterItem.title ?? filterItem.searchParams | ngxRemoveUnderscore | ngxCapitalize"
                    [itemsList]="filterItem.items" (onSearch)="onSearch($event, filterItemIndex)"
                    (onSelect)="onSelect(filterItem.searchParams.toLowerCase(), $event.value, filterItem?.searchOptions?.queryParam)">
                </ngx-item-selector>
                <div *ngIf="filterItem.type === 'DATE'">
                    <input nbInput fullWidth status="basic" fieldSize="giant"
                        [placeholder]="filterItem.title ?? filterItem.searchParams | ngxRemoveUnderscore | ngxCapitalize"
                        [(ngModel)]="filterPayload[filterItem.searchParams.toLowerCase()]" (keyup.enter)="onSubmit()"
                        [nbDatepicker]="datepicker">
                    <nb-datepicker #datepicker></nb-datepicker>
                </div>
                <div *ngIf="filterItem.type === 'DATE_RANGE'">
                    <input nbInput fullWidth status="basic" fieldSize="giant"
                        [placeholder]="filterItem.title ?? filterItem.searchParams | ngxRemoveUnderscore | ngxCapitalize"
                        [(ngModel)]="filterPayload[filterItem.searchParams.toLowerCase()]" (keyup.enter)="onSubmit()"
                        [nbDatepicker]="rangepicker">
                    <nb-rangepicker #rangepicker></nb-rangepicker>
                </div>
                <input *ngIf="filterItem.type === 'INPUT'" [type]="filterItem.inputType ?? 'text'" nbInput fullWidth
                    status="basic" fieldSize="giant"
                    [placeholder]="filterItem.title ?? filterItem.searchParams | ngxRemoveUnderscore | ngxCapitalize"
                    [(ngModel)]="filterPayload[filterItem.searchParams.toLowerCase()]" (keyup.enter)="onSubmit()">
            </div>
            <div class="col-12 col-md-4">
                <ng-content></ng-content>
            </div>
        </div>
        <ngx-buttons-filter (onReset)="onReset()" (onSubmit)="onSubmit()">
        </ngx-buttons-filter>
    </div>
</section>