<div class="table" #table>
    <div>
    <ngx-scroll-layout class="tableScroll">

        <table class="table-card" #tableCard>
            <thead>
                <tr>
                    <th *ngIf="isCheckColumn" class="table-card__header table-card__checkbox">
                        <nb-checkbox (checkedChange)="checkedAll.emit($event)"></nb-checkbox>
                    </th>
                    <th *ngFor="let column of tableColumns; let index=index" class="table-card__header"
                        [style.text-align]="column.position ?? 'center'">
                        <ngx-table-header-cell [title]="column.title" (filterStatus)="sortFilter.emit($event)">
                        </ngx-table-header-cell>
                    </th>
                </tr>
            </thead>
            <tbody #ref>
                <ng-content select="tr"></ng-content>
            </tbody>
        </table>
    </ngx-scroll-layout>
    </div>

    <div *ngIf="!ref.children.length" class="text-center py-3">
        <h5 class="text-danger mb-0 pb-0 text-nowrap">NO DATA FOUND</h5>
    </div>
    <div #div>
        <div class="w-100 p-2" *ngIf="havePagination" style="position: sticky; bottom: 0; background-color: white; direction: ltr;">
            <ngx-table-paginator [showSelectPageSize]="true" [total]="visibleItems.total" [formControl]="paginationControl">
            </ngx-table-paginator>
        </div>
    </div>
</div>