<div class="upload-card card mb-4">
    <div *ngIf="showWallpaper" class="upload-card__wallpaper">
        <img class="upload-card__wallpaper-img w-100" 
            [src]="(fileStore | async).src"
            height="180"
            alt="thumbnail">
        <div class="upload-card__wallpaper-shadow">
            <label *ngIf="(fileStore | async).status == 'NOT_SELECTED'" 
                [for]="'card_reviewer_uploader_'+key" 
                class="upload-card__wallpaper-shadow-plus">
                <nb-icon icon="plus-outline" pack="eva"></nb-icon>
                <input 
                    (change)="onChangeImage($event, key)"
                    style="display: none;"
                    [id]="'card_reviewer_uploader_'+key"
                    [name]="'card_reviewer_uploader_'+key"
                    accept="image/*"
                    type="file">
            </label>
            <div *ngIf="(fileStore | async).status != 'NOT_SELECTED'" 
                (click)="removeFile(key)"
                style="background-color: #FF5252; border: none;" 
                class="btn btn-danger py-1 px-2 cursor-pointer">
                <nb-icon icon="trash-2-outline" pack="eva"></nb-icon>
            </div>
        </div>
    </div>

    <div class="upload-card__toggle d-flex justify-content-between align-items-center">
        <p class="py-0 my-0">{{subtitle}}</p>
        <nb-toggle *ngIf="showToggle" labelPosition="end">Show</nb-toggle>
    </div>
</div>