.ngx-layout {
    &__scroll {
        overflow-y: auto; 
        height: 80vh;
        overflow-x: hidden;

        &::ng-deep {
            .margin-top-md {
                margin: 21px 0px;
            }
            .margin-bottom-md {
                margin-bottom: 55px;
            }
        }
    }
}

/* width */
::-webkit-scrollbar {
    height: 5px;
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b7b7b7;
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}